@charset "utf-8";
/* CSS Document */

/*=========================================== STYLE =================================================*/
*{
	font-family : "Aller Light";
	-o-font-family : "Aller Light";
	-ms-font-family : "Aller Light";
	-webkit-font-family : "Aller Light";
	color: #795548;
}
li {
	list-style-type: none;
}
#page1,#page2,#page3,#page4,#menu {
	justify-content: center;
	align-items: center;
}
#page1 {
	background-color: #2980B8;
}
#page2 {
	background-color: #69CCE0;
}
#page3 {
	background-color: #394C81;
}
#page4 {
	background-color: #308694;
}
#menu ul {
	background-color: #FFFFFF;
}
.logoPage {
	align-items: center;
}
/*FIGURE IMAGES*/
	.figLogo {
		background-color: #FFFFFF;
		border-radius: 20px;
		box-shadow: 3px 4px 9px rgba(0,0,0,0.2);
	}
	.figSocMed {
		border-bottom: 1px solid #FFFFFF; 
		border-top: 1px solid #FFFFFF; 
	}
.title {
	display: block;
}
.textPage {
	padding: 0 20px;
}
.textPage2 {
	border: none;
}
.textPage h2, .textPage h4 {
		text-align: center;
	}
/*Heading*/
	.textPage h2 {
		color: #FFFFFF;
		font-size: 2em;
		font-family: "Bitsumishi";
	}
	.textPage h4 {
		color: #FFFFFF;
		font-size: 1.5em;
		font-family: "Century Gothic";
	}
	h2.octa,h4.octa {
		font-family: "Aller Light";
	}
	.textPage h2.small {
		font-size: 1.5em;
	}
	.textPage h2.big {
		font-size: 2em;
		text-align: right;
	}
/*Paragraph*/
	.pPage1 {
		background-color: #23a7f1;
		border-left: #0177c1 5px solid;
		color: #FFFFFF;
	}
	.pPage2 {
		background-color: #2AA5C4;
		border-left: #195571 5px solid;
		color: #FFFFFF;
	}
	.pPage3 {
		background-color: #5065A1;
		border-left: #1E2742 5px solid;
		color: #FFFFFF;
	}
	.pPage4 {
		background-color: #3898AA;
		border-left: #336666 5px solid;
		color: #FFFFFF;
	}

/*------------------------------------------------For Tablet*/
@media only screen and (min-width:481px) {
	/*Heading*/
	.textPage {
		border: none;
	}
	.textPage h2 {
		font-size: 2.5em;
	}
	.textPage h4 {
		font-size: 2em;
	}
	.textPage h2.small {
		font-size: 1.5em;
	}
	.textPage h2.big {
		font-size: 2.5em;
	}
}

/*-----------------------------------------------For Dekstop*/
@media only screen and (min-width:721px) {
	.textPage h2 {
		font-size: 3.5em;
	}
	.textPage h4 {
		font-size: 2em;
	}
	.textPage h2.small {
		font-size: 1.5em;
	}
	.textPage h2.big {
		font-size: 3.5em;
	}
	.textPage {
		border-right: 1px #FFFFFF solid;
		text-align: right;
	}
	.textPage2 {
		border: none;
		text-align: left;
	}
	.textPage h2.small {
		font-size: 1.5em;
		text-align: right;
	}
}